*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    padding: 128px 32px 258px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
    margin-bottom: 16px;
    color: #24394e;
}

.topPage{
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: cover;
    background-position: center;
    width: 100%;
    border-bottom-left-radius: 200px;
    overflow: hidden;
    position: relative;
    padding-bottom: 200px; /*LEMBRAR DE APAGAR*/
    position: relative;
}

.topPage::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.intro{
    MAX-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 32px 0;
    z-index: 5;;
}

header{
    max-width: 1440px;
    display: flex;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    align-items: center;
    position: relative;
    z-index: 2;
    
    flex-wrap: wrap
}

.logoWrapper{
    margin-right: 64px;
}

header nav{
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

header div:nth-child(2){
    flex: 1;
}

.navWrapper{
    display: flex;
    flex-direction: row;
}


.navListWrapper{
    position: relative;
    padding: 8px 33px 8px 0;
    display: inline-flex;
    align-items: center;
}

.navListWrapper span{
    cursor: pointer;
    position: relative;
}

.navListWrapper span::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #FFF;
    border-radius: 200px;
    overflow: hidden;
    transition: 0.35s;
}

.navListWrapper:hover span::after{
    width: 100%;
}

.navListWrapper{
    z-index: 3;
}

nav ul li{
    padding: 16px 0;
    margin: 0;
}

nav ul a{
    color: #2b2b37;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4ms;
}

nav ul a:hover{
    font-weight: 600;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #FFF;
    padding: 30px;
    border-radius: 16px;
    top: 26px;
    left: -24px;
    min-width: 127px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.navListWrapper:hover ul{
    transform: translateY(8px);
    opacity: 1;
    z-index: 2;
    pointer-events: all;
}

.container{
    text-align: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.navSecondCol{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navSecondCol a{
    display: inline-block;
    vertical-align: center;
    color: #FFF;
    text-decoration: none;
}

.navSecondCol a:first-child{
    margin-right: 16px;
}

.wrapMobMenuBtn{
    align-items: center;
    display: none;
}

.wrapMobMenuBtn button{
    background-color: transparent;
    padding: 0;
    border: 0;
    position: relative;
    z-index: 6;
}

.menuClose{
    position: relative;
    top: 4px;
}

.menuMobileWrap{
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #FFF;
    top: 0;
    left: 0;
    opacity: 1;
    border-radius: 8px;
    text-align: center;
    top: 58px;
    padding: 0px;
    padding: 24px;
    opacity: 0;
    display: none;
    transition: 0.5s;
}


.menuMobileWrap nav{
    display: block;
    z-index: 2;
    position: relative;
    padding: 0;
}

.menuMobileWrap ul{
    z-index: 3;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #1c3240;
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
    opacity: 1;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    border-radius: 0;
}

.menuMobileWrap ul:first-child{
    margin-bottom: 16px;
    border-bottom: 1px solid #1c324055;
}

.menuMobileWrap ul li{
    transition: 0.5s;
    font-size: 18x;
    color: #1c3240;
    padding: 4px;
    width: 100%;
}

.menuMobileWrap ul li a{
    width: 100%;
    display: inline-block;
}

.menuMobileWrap ul li ul{
    margin: 8px 0;
    max-height: 0;
    transition: 1s;
    overflow: hidden;
    background-color: #efeff1;
    border-radius: 8px;
}

.menuMobileWrap ul li:hover ul{
   max-height: 1000px;
}

.mobileUlLast a{
    padding: 8px;
}

.menuMobileWrap .signBtn{
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    display: inline-flex;
    height: 50px;
    width: 145px;
    justify-content: center;
    color: #FFF;
    border-radius: 36px;
    font-size: 18px;
    align-items: center;
}


.navSecondCol .whiteBtn,
.whiteBtn,
.transparentBtn:hover{
    background-color: #FFF;
    color: #fa808d;
    height: 48px;
    display: inline-flex;
    align-items: center;
    padding: 0 48px;
    border-radius: 32px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}

.transparentBtn{
    color: #FFF;
    padding: 0 48px;
    border: 1px solid #FFF;
    display: inline-flex;
    align-items: center;
    height: 48px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 700;

}

.whiteBtn:hover{
    color: #FFF;
    background-color: #ff7b86;
}

.container{
    position: relative;
    z-index: 1;
}

.container h1{
    font-size: 52px;
    margin-top: 128px;
    color: #FFF;
    line-height: 1.3em;
    margin-bottom: 16px;
}

.container p{
    font-size: 1.3em;
}

section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container p{
    font-size: 1.2em;
    font-weight: 300;
}

.topPage p{
    color: #FFF;
    font-weight: 300;
    margin-bottom: 64px;
}

#designedFuture{
    background-image: url('/images/illustration-editor-desktop.svg');
    background-size: calc(55%);
    background-position-x: calc(135%);
    background-position-y: calc(50%);
    flex-wrap: wrap;
    background-repeat: no-repeat;
}

#designedFuture h2{
    color: #263f53;
    width: 100%;
    text-align: center;
    margin-bottom: 128px;
}

#designedFuture p{
    color: #263f53;
}

.firstCol,
.secondCol{
    width: 50%;
    text-align: left;
}

.container div p:first-of-type{
    margin-bottom: 32px;
}

#designedFuture img{
    display: none;
}

/*INFRAESTRUCTURE SECTION*/

#infrastructure{
    position: relative;
    padding: 128px 32px;
    background-image: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#infrastructure::after{
    content: '';
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#infrastructure .firstCol img{
    position: absolute;
    right: 50%;
    top: calc(50% - 324.5px);
    width: 619px;

}

#infrastructure h2{
    font-size: 44px;
    color: #FFF;
    margin-bottom: 32px;
}

#infrastructure .secondCol{
    margin-left: 64px;
}

#infrastructure p{
    color: #FFF;
}

/*FREE SECTION*/

#free .firstCol{
    position: relative;
    padding: 258px 32px;
}

#free img{
    display: none;
}

#free{
    background-image: url('/images/illustration-laptop-desktop.svg');
    background-size: calc(55%);
    background-position-x: calc(-35%);
    background-position-y: calc(55% - 65px);
    flex-wrap: wrap;
    background-repeat: no-repeat;
}

/*footer*/

footer{
    background-color: #24242c;
    display: flex;
    justify-content: center;
    padding: 62px 32px;
    border-top-right-radius: 200px;
    color: #FFF;
}

footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    text-align: left;
}

footer ul{
    list-style: none;
}

footer li{
    margin-bottom: 16px;
}

footer a{
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

footer a::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #FFF;
    border-radius: 3px;
    transition: 0.3s;
    bottom: 0px;
    left: 0;
}

footer a:hover::after{
    width: 100%;
}

@media (max-width: 1024px){
    #infrastructure .firstCol img{
        width: 520px;
        top: calc(50% - 275px)
    }
}

@media (max-width: 775px){
    section .container p{
        font-size: 1em;
    }
    .container,
    .container .secondCol,
    .container .firstCol{
        text-align: center !important;
    }

    .topPage{
        border-bottom-left-radius: 100px;
    }

    .menu{
        justify-content: flex-end;
    }
    .navWrapper,
    .navSecondCol{
        display: none;
    }

    .wrapMobMenuBtn{
        display: flex;
        position: relative;
        top: -4px;
        width: 26px;
    }

    .wrapMobMenuBtn button{
        z-index: 4;
        width: 26px;
    }


    .wrapMobMenuBtn img{
        width: 26px;    
    }

    .menuHamburguer{
        transition: 0.5s;
    }

    .menuClose{
        display: none;
        opacity: 0;
        transform: translateX(16px);
        transition: 0.5s;
    }

    .intro .container{
        padding: 16px;
    }

    .container h1{
        font-size: 38px;
    }

    .container p{
        font-size: 1em;
    }

    .navSecondCol 
    .whiteBtn, 
    .whiteBtn, 
    .transparentBtn{
        padding: 0;
        width: 150px;
        justify-content: center;
        font-size: 16px;
    }
    
    .transparentBtn:hover{
        padding: 0;
    }

    #designedFuture{
        padding: 64px 16px 200px;
    }

    #designedFuture h2{
        margin-bottom: 32px;
    }

    section .container{
        flex-direction: column-reverse;

    }

    section .container div{
        width: 100% !important;
    }

    #designedFuture img{
        display: block;
        max-width: 100%;
        margin-bottom: 32px;
    }

    #designedFuture{
        background-image: none;
    }

    #infrastructure{
        padding: 0 16px 32px;
    }

    #infrastructure .container{
        display: block;
    }

    #infrastructure .secondCol{
        margin-left: 0;
    }

    #infrastructure .firstCol img{
        position: relative;
        max-width: 100%;
        top: 0;
        left: 0;
    }

    #infrastructure .firstCol{
        margin-top: -128px;
    }

    #infrastructure::after{
        background-size: 120%;
        background-position-x: center;
        background-position-y: -240%;
    }

    #infrastructure h2{
        font-size: 32px;
    }

    #free{
        background-image: none;
        padding: 64px 16px;
        overflow: hidden;
    }

    #free .container{
        display: block;
    }

    #free .container div{
        width: 100%;
    }

    #free .container .firstCol{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #free img{
        display: block;
        width: 130%;
        text-align: center;
    }

    footer{
        border-top-right-radius: 100px;
        padding: 64px 16px;
    }

    footer .container{
        display: block;
    }

    footer .container .firstCol,
    footer .container .secondCol{
        width: 100%;
    }

    footer .container .firstCol{
        margin-top: 0;
    }

    .container div p:first-of-type{
        margin-bottom: 16px;
        font-weight: bold;
    }

    footer .container div{
        margin-top: 64px;
    }

}
/*FUTURE FIXES*/

/*FIX CELLPHONE IMAGES RESPONSIVITY IN INFRASTRUCTURE SECTION FOR TABLETS*